* {
  margin: 0;
  padding: 0;
}
.artiback {
  margin-top: 60px;
  /* position: 30px; */
  padding: 50px;
  border: 1px solid black;
  border-radius: 15px;
  width: 650px;
  height: 250px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 600px);
  text-align: center;
  background-color: rgba(95, 158, 160, 0.151);
}
