* {
  margin: 0;
  padding: 0;
}

.map {
  /* display: flex;

  gap: 40px;
  flex-wrap: wrap;
  color: white; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.namecoures {
  text-align: center;
}

.imgCouers {
  width: 250px;
  height: 250px;
  border: rgb(10, 6, 0);
}

.discrptionCoures {
  text-align: center;
  width: auto;
}
.inputSearch {
  width: 100%;
  margin: auto;
  border-radius: 5px;
}
.course {
  width: 250px;
  border: 1px solid;
  height: 250px;
  gap: 10px;
}

/* .allinput {
  text-align: center;
  width: auto;
}
.butremove {
  text-align: center;
  width: auto;
} */
