.fav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.inpagefav {
  width: 30%;
  border: 1px solid black;
  transition: 1s;
  margin-top: 50px;

  box-shadow: 1px 10px 7px rgba(0, 0, 0, 0.404);
}

.namecoures {
  background-color: rgb(83 160 176);
  text-align: center;
}
.imgfav {
  margin-left: 80px;
  width: 200px;
  height: 200px;
  align-items: center;
  border-radius: 25px;
}

.discrptionCoures {
  text-align: center;
}
.likes {
  color: red;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .fav {
    width: 1217px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 6px;
  }
  /* .inputSea{
    margin-left: -76px;
    width: 146px;
} */
}
