.Lists {
  background-color: rgb(70 74 74);
  margin: 0;
  color: rgb(223, 221, 217);
}

.lii {
  color: rgb(133, 62, 50);
  background-color: rgb(218, 205, 205);
  margin: 0;
}

.inputlist {
  border: 1px;
  margin-left: 600px;
}

.inputadd {
  margin: 10px;
  border-radius: 1px solid rgb(69, 61, 61);
}
.donelearn {
  text-align: center;
}
