* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background-color: rgb(0, 10, 10);
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  padding: 0px;
}

ul {
  background-color: rgb(10, 4, 4);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
li {
  display: inline-block;
  padding: 30px;
}
.link {
  color: beige;
  text-decoration: none;
  width: 500px;
  height: 100px;
}
.linkpro {
  left: left;
  color: beige;
}
.navbarleft {
}
.navbarright {
  height: 50px;
}
.linkimg {
  border-radius: 200px;
  width: 400px;
  height: 400px;
}
.imgesss {
  width: 40px;
  border-radius: 200px;
}
