.divmap {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgb(88, 85, 85);
}

.div {
  background-color: rgb(81, 115, 153);
}

.namedis {
  text-align: center;
  /* background-color: ; */
}
.frame {
  margin: auto;
  width: 500px;
  position: relative;
}

.delved {
  margin: 5px;
  width: 50px;
  height: 20px;
}
.allname {
  text-align: center;
}
