.profile {
  /* margin: 30%; */
  margin-top: 13%;
  margin-right: 40%;
  margin-left: 40%;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: absolute;
  border: 1px solid black;
}
