.Signup {
  border: 2px rgb(253, 247, 247);
  width: 400px;
  border-radius: 6px;
  height: 300px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  gap: 10px;
  margin: 100px auto;
}

.button {
  height: 30px;
  width: 80%;
  border-radius: 10px;
  background-color: FDFAF6;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 10px;
}
.csssignup {
  border-radius: 10px;
  margin: 5px;
  height: 30px;
  width: 80%;
}

.h1 {
  text-align: center;
}
